langchain
langchain-core
langchain-community
langgraph

langchain-huggingface

sentence-transformers

faiss-cpu

groq

streamlit

python-dotenv

pymupdf

camelot-py

opencv-python

easyocr

pandas

numpy

pillow